<div class="container mt-5">
<h2>マイページ  <%= link_to "編集する", edit_user_path, class:"btn btn-outline-success" %></h2>
  <table class="table">
    <tr>
      <th>プロフィール画像</th>
      <td><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: "100x100") %></td>
    </tr>
    <tr>
      <th>ニックネーム</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
  </table>

   <h2>マイトピック  <%= link_to "一覧を見る", root_path, class:"btn btn-outline-success" %></h2><br>
   <h2>マイコメント  <%= link_to "一覧を見る", root_path, class:"btn btn-outline-success" %></h2>

</div>
