<div class="container mt-5">
  <h3 class="topic">ユーザー詳細</h3>
   <% if current_user != @user %>
     <% if current_user.following?(@user) %>
      <div class="text-right">
       <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class: "btn btn-success" %>
      </div>
     <% else %>
      <div class="text-right">
       <%= link_to "フォロー", user_relationships_path(@user.id), method: :post, class: "btn btn-outline-success" %>
      </div>
     <% end %>
   <% else %>
    <div class="text-right">
      <%= link_to "編集する", edit_user_path, class:"btn btn-outline-success" %>
    </div>
   <% end %>

   <table class="table">
      <tr>
        <th>プロフィール画像</th>
        <td><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: "100x100", class:"rounded-circle") %></td>
      </tr>
      <tr>
        <th>ニックネーム</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>フォロワー</th>
        <td><%= link_to user_followers_path(@user) do %>
            <%= @user.followers.count %>
            <% end %>
        </td>
      </tr>
      <tr>
        <th>フォロー</th>
        <td><%= link_to user_followings_path(@user) do %>
            <%= @user.followings.count %>
            <% end %>
        </td>
      </tr>
      <% if current_user == @user %>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
      <% end %>
      <tr>
        <th>登録日</th>
        <td><%= @user.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
   </table>

   <h3 class="topic mt-5">ユーザートピック <span class="small">(全<%= @topics.count %>件)</span></h3>
    <% if @topics.count == 0 %>
     <p class="mt-3">まだ投稿されたトピックはありません。</p>
    <% else %>
     <% @topics.each do |topic| %>
      <div class="border-top">
        <span class="category mt-2">
            <%= link_to topic_category_path(topic.category) do %>
            <%= topic.category.name %><% end %>
        </span>
        <span class="age mb-1">
            <%= link_to topic_age_path(topic.age) do %>
            <%= topic.age.name %><% end %>
        </span><br>
        <p>
            <%= link_to topic_path(topic) do %>
            <%= topic.title %>
            <% end %>
        </p>
        <p><%= topic.body %></p>
        <p>いいね数：<%= topic.favorites.count %>, コメント数：<%= topic.comments.count %></p>
        <p class='text-right'>
            <%= topic.created_at.strftime('%Y/%m/%d') %>
            <% if topic.user == current_user %>
            <%= link_to "削除", topic_path(topic), method: :delete, class:"btn btn-danger",data: { confirm: '本当に消しますか？'} %>
            <% end %>
        </p>
     </div>
     <% end %>
    <% end %>

  <h3 class="topic mt-5">ユーザーコメント <span class="small">(全<%= @comments.count %>件)</span></h3>
   <% if @comments.count == 0 %>
     <p class="mt-3">まだ投稿されたコメントはありません。</p>
   <% else %>
     <% @comments.each do |comment| %>
      <div class="border-top">
       <p class="mt-2">
         <%= comment.comment %>
       </P>
       <p>
         <%= link_to topic_path(comment.topic) do %>
         <%= comment.topic.title %>
         <% end %>
       </p>
       <p class='text-right'>
        <%= comment.created_at.strftime('%Y/%m/%d') %>
        <% if comment.user == current_user %>
        <%= link_to "削除", topic_comment_path(comment.topic, comment), method: :delete, class:"btn btn-danger",data: { confirm: '本当に消しますか？'}  %>
        <% end %>
      </p>
     </div>
    <% end %>
   <% end %>
</div>
