<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 col-xs-6">
      <div class="main-visual">
        <p style="text-align:center">まちかど広場は、これから子育てを控えるパパや子育て中のパパを対象とした<br>
        育児に関する悩みや疑問をシェアし、交流するためのサイトです。</p>
        <div class="text-center">
         <%= link_to "トピック投稿", new_topic_path, class:"btn btn-success mt-2", style:"height:40px;" %>
        </div>
      </div>

      <h2 class='mt-5 topic'>新着トピック</h2>
      <% if user_signed_in? %>
       <div class="text-right">
        <%= link_to "トピック一覧", topics_path, class:"btn btn-outline-success" %>
       </div><% end %>
      <% @topics.first(15).each do |topic|%>
        <div class="border-top">
          <p>
            <%= link_to topic_path(topic) do %>
              <%= topic.title %>
            <% end %>
          </p>
          <p><%= topic.body %></p>
          <span class="category">
              <%= link_to topic_category_path(topic.category) do %>
              <%= topic.category.name %><% end %>
          </span>
          <span class="age">
              <%= link_to topic_age_path(topic.age) do %>
              <%= topic.age.name %><% end %>
          </span>
          <p class='text-right'>
            <%= link_to user_path(topic.user) do %>
              <%= attachment_image_tag(topic.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "30x30", class:"rounded-circle") %>
              <%= topic.user.name %>
            <% end %>
            <%= topic.created_at.strftime('%Y/%m/%d') %>
          </p>
        </div>
      <% end %>
    </div>

    <div class="col-md-3 col-xs-6 ml-3">
       <h5 class="side"><b>カテゴリー</b></h5>
        <ul class="list-category">
         <% @categories.each do |category| %>
          <li class="side-category">
            <%= link_to topic_category_path(category) do %>
            <%= category.name %><% end %> (<%= category.topics.count %>)
          </li>
         <% end %>
        </ul>

        <h5 class="side"><b>年齢別カテゴリー</b></h5>
        <ul class="list-category">
         <% @ages.each do |age| %>
          <li class="side-category">
            <%= link_to topic_age_path(age) do %>
            <%= age.name %><% end %> (<%= age.topics.count %>)
          </li>
         <% end %>
        </ul>

       <h5 class="side mt-4"><b>アクセス数ランキング</b></h5>
         <% lastViewCount = 0 %>
          <% j = 1 %>
           <% @view_ranks.each.with_index(1) do |ranking, i| %>
           <% if i == 1 %>
            <% lastViewCount = ranking.view_counts.count %>
           <% end %>
           <% if ranking.view_counts.count != lastViewCount %>
            <% j = i %>
            <span class="ranking"><%= j %>位</span>
            <%= link_to topic_path(ranking) do %>
              <%= ranking.title %>
            <% end %>
            閲覧数：<%= ranking.view_counts.count %>
            <% lastViewCount = ranking.view_counts.count %>
           <% else %>
            <% lastViewCount = ranking.view_counts.count %>
            <span class="ranking"><%= j %>位</span>
            <%= link_to topic_path(ranking) do %>
              <%= ranking.title %>
            <% end %>
            閲覧数：<%= ranking.view_counts.count %>
           <% end %>
            <br>
           <% end %>

       <h5 class="side mt-4"><b>いいね数ランキング</b></h5>
         <% lastFavorite = 0 %>
          <% j = 1 %>
           <% @favorite_ranks.each.with_index(1) do |ranking, i| %>
           <% if i == 1 %>
            <% lastFavorite = ranking.favorites.count %>
           <% end %>
           <% if ranking.favorites.count != lastFavorite %>
            <% j = i %>
            <span class="ranking2"><%= j %>位</span>
            <%= link_to topic_path(ranking) do %>
              <%= ranking.title %>
            <% end %>
            いいね数：<%= ranking.favorites.count %>
            <% lastFavorite = ranking.favorites.count %>
           <% else %>
            <% lastFavorite = ranking.favorites.count %>
            <span class="ranking2"><%= j %>位</span>
            <%= link_to topic_path(ranking) do %>
              <%= ranking.title %>
            <% end %>
            いいね数：<%= ranking.favorites.count %>
           <% end %>
            <br>
           <% end %>

      <h5 class="side mt-4"><b>コメント数ランキング</b></h5>
         <% lastComment = 0 %>
          <% j = 1 %>
           <% @comment_ranks.each.with_index(1) do |ranking, i| %>
           <% if i == 1 %>
           <% lastComment = ranking.comments.count %>
           <% end %>
           <% if ranking.comments.count != lastComment %>
           <% j = i %>
           <span class="ranking"><%= j %>位</span>
           <%= link_to topic_path(ranking) do %>
              <%= ranking.title %>
            <% end %>
            コメント数：<%= ranking.comments.count %>
           <% lastComment = ranking.comments.count %>
           <% else %>
           <% lastComment = ranking.comments.count %>
           <span class="ranking"><%= j %>位</span>
           <%= link_to topic_path(ranking) do %>
              <%= ranking.title %>
            <% end %>
           コメント数：<%= ranking.comments.count %>
            <% end %>
            <br>
           <% end %>

      <h5 class="side mt-4"><b>トピック投稿数ランキング</b></h5>
         <% lastTopic = 0 %>
          <% j = 1 %>
           <% @user_ranks.each.with_index(1) do |ranking, i| %>
           <% if i == 1 %>
            <% lastTopic = ranking.topics.count %>
           <% end %>
           <% if ranking.topics.count != lastTopic %>
            <% j = i %>
            <span class="ranking2"><%= j %>位</span>
            <%= link_to user_path(ranking) do %>
              <%= ranking.name %>
            <% end %>
            トピック数：<%= ranking.topics.count %>
            <% lastTopic = ranking.topics.count %>
           <% else %>
            <% lastTopic = ranking.topics.count %>
            <span class="ranking2"><%= j %>位</span>
            <%= link_to user_path(ranking) do %>
              <%= ranking.name %>
            <% end %>
            トピック数：<%= ranking.topics.count %>
           <% end %>
            <br>
           <% end %>

       <h5 class="side mt-4"><b>コメント投稿数ランキング</b></h5>
         <% lastUserComment = 0 %>
          <% j = 1 %>
           <% @user_comment_ranks.each.with_index(1) do |ranking, i| %>
           <% if i == 1 %>
           <% lastUserComment = ranking.comments.count %>
           <% end %>
           <% if ranking.comments.count != lastUserComment %>
           <% j = i %>
           <span class="ranking"><%= j %>位</span>
           <%= link_to user_path(ranking) do %>
              <%= ranking.name %>
            <% end %>
            コメント数：<%= ranking.comments.count %>
           <% lastUserComment = ranking.comments.count %>
           <% else %>
           <% lastUserComment = ranking.comments.count %>
           <span class="ranking"><%= j %>位</span>
           <%= link_to user_path(ranking) do %>
              <%= ranking.name %>
            <% end %>
           コメント数：<%= ranking.comments.count %>
            <% end %>
            <br>
           <% end %>
    </div>
  </div>
</div>


