<h2>カテゴリー追加</h2>
     <%= form_with model: @category, url: admin_categories_path, local: true do |f| %>
      カテゴリー名
      <%= f.text_field :name, :placeholder => "カテゴリー名" %>
      <%= f.submit '登録' %>
     <% end %>

<h2>カテゴリー一覧</h2>
<table class="table">
      <thead>
       <tr>
        <th>カテゴリー</th>
      </tr>
      </thead>
      <% @categories.each do |category| %>
      <tr>
       <td><%= category.name %></td>
       <td><%= link_to "編集する", edit_admin_category_path(category) %></td>
       <% end %>
      <tr>
      </table>