<div class="container mt-5">
 <h2 class="topic">年齢別カテゴリー：<%= @age.name %> <span class="small">(全<%= @topics.count %>件)</span></h2>
  <table class="table">
    <thead>
     <tr>
      <th>No.</th>
      <th>投稿者</th>
      <th>投稿日</th>
      <th>タイトル</th>
      <th>本文</th>
      <th>カテゴリー</th>
      <th>コメント数</th>
      <th>いいね数</th>
      <th></th>
     </tr>
    </thead>
    <tbody>
    <% @topics.each do |topic| %>
     <tr>
      <td>
       <%= topic.id %>
      </td>
      <td><%= link_to user_path(topic.user) do %>
          <%= attachment_image_tag(topic.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50", class:"rounded-circle") %><br>
          <%= topic.user.name %>
          <% end %>
      </td>
      <td>
       <%= topic.created_at.strftime('%Y/%m/%d') %>
      </td>
      <td>
       <%= link_to topic_path(topic) do %>
       <%= topic.title %>
       <% end %>
      </td>
      <td>
       <%= topic.body %>
      </td>
      <td>
       <%= topic.category.name %>
      </td>
      <td>
       <%= topic.comments.count %>
      </td>
      <td>
       <%= topic.favorites.count %>
      </td>
      <% if current_user == topic.user %>
      <td>
       <%= link_to "削除", topic_path(topic), method: :delete, class:"btn btn-danger",data: { confirm: '本当に消しますか？'} %>
      </td><% end %>
     </tr>
    <% end %>
    </tbody>
  </table>

</div>