<div class="container mt-5">
<h2 class="topic">トピック投稿内容</h2>
<%= form_with model: @topic, url:topics_path, local:true do |f| %>

  <div class="field mt-3">
    <%= f.text_field :title, :size=>"100%",:placeholder => "タイトルを入力してください。" %>
  </div>

  <div class="field mt-3">
  <%= f.text_area :body, :size=>"100%",:placeholder => "内容を入力してください。" %>
  </div>

  <div class="field mt-3">
    <h4>子どもの年齢</h4>
    <%= f.collection_select :age_id, Age.all, :id, :name %>
  </div>

  <div class="field mt-3">
    <h4>カテゴリー</h4>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="text-center">
    <%= f.submit '投稿' %>
  </div>

<% end %>
</div>