<h2>ユーザー一覧</h2>
  <table>
     <thead>
      <tr>
       <th>No.</th>
       <th>登録日</th>
       <th>ニックネーム</th>
       <th>メールアドレス</th>
       <th>トピック数</th>
       <th>コメント数</th>
       <th>ステータス</th>
      </tr>
      </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= "#{user.topics.count} 件" %></td>
      <td><%= "#{user.comments.count} 件" %></td>
    </tr>
  </tbody><% end %>
  </table>
