<!DOCTYPE html>
<html>
  <head>
    <title>Machikado</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="navbar-nav ml-auto">
      <% if admin_signed_in? %>
        <li>
          <%= link_to "ユーザー一覧", admin_users_path, class: 'btn btn-outline-dark' %>
        </li>
        <li>
          <%= link_to "トピック一覧", admin_topics_path, class: 'btn btn-outline-dark' %>
        </li>
        <li>
          <%= link_to "コメント一覧", root_path, class: 'btn btn-outline-dark' %>
        </li>
        <li>
          <%= link_to "カテゴリー一覧", root_path, class: 'btn btn-outline-dark' %>
    　　  </li>
        <li>
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %>
        </li>
      <% elsif user_signed_in? %>
        <li>
            ようこそ、<%= current_user.name %>さん！
        </li>
        <li>
            <%= link_to "トップページ", root_path, class: "btn btn-outline-dark" %>
        </li>
        <li>
            <%= link_to "マイページ", user_path(current_user), class: "btn btn-outline-dark" %>
        </li>
        <li>
            <%= link_to "トピック作成", new_topic_path, class: 'btn btn-outline-dark' %>
        </li>
        <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-dark' %>
        </li>
        <!--管理者でも会員でもログインしていないとき-->
      <% else %>
        <li>
            <%= link_to "About", about_path, class: 'btn btn-outline-dark' %>
        </li>
        <li>
            <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-dark' %>
        </li>
        <li>
            <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-dark' %>
        </li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
