<!DOCTYPE html>
<html>
  <head>
    <title>Machikado</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/3343b9fe07.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% if admin_signed_in? %>
       <header class="sticky-top shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b3424a;" >
          <div class="container">
            <a class="navbar-brand p-3 text-white" href="/admin"><b>まちかど広場</b></a>
             <ul class="navbar-nav ml-auto">
               <li>
                <%= link_to "ユーザー一覧", admin_users_path, class: 'btn btn-outline-light' %>
               </li>
               <li>
                <%= link_to "トピック一覧", admin_topics_path, class: 'btn btn-outline-light ml-2' %>
               </li>
               <li>
                <%= link_to "コメント一覧", admin_comments_path, class: 'btn btn-outline-light ml-2' %>
               </li>
               <li>
                <%= link_to "年齢別カテゴリー一覧", admin_ages_path, class: 'btn btn-outline-light ml-2' %>
               </li>
               <li>
                <%= link_to "カテゴリー一覧", admin_categories_path, class: 'btn btn-outline-light ml-2' %>
               </li>
               <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-light ml-2' %>
               </li>
              </ul>
          </div>
         </nav>
       </header>

     <% elsif user_signed_in? %>
       <header class="sticky-top shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #009D5B;" >
         <div class="container">
          <a class="navbar-brand p-3 text-white" href="/"><b>まちかど広場</b></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
           </button>
           <ul class="navbar-nav ml-auto">
            <li>
              <%= form_with url: search_path, method: :get, class: "search-form", local: true do |f| %>
              <%= f.text_field :keyword, value: @keyword %>
              <%= submit_tag '検索' %>
              <% end %>
            </li>
            <li>
              <%= link_to "トピック作成", new_topic_path, class: "btn btn-outline-light ml-2 small" %>
            </li>
            <li>
              <%= link_to "マイページ", user_path(current_user), class: "btn btn-outline-light ml-2" %>
            </li>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-outline-light ml-2' %>
            </li>
            <li>
             <%= link_to "お問い合わせ", new_contact_path, class: 'btn btn-outline-light ml-2' %>
            </li>
           </ul>
         </div>
        </nav>
       </header>
        <!--管理者でも会員でもログインしていないとき-->
     <% else %>
       <header class="sticky-top shadow-sm">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #26896D;" >
         <div class="container">
          <a class="navbar-brand p-3 text-white" href="/"><b>まちかど広場</b></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav ml-auto">
            <li>
             <%= link_to "About", about_path, class: 'btn btn-outline-light' %>
            </li>
            <li>
             <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-outline-light ml-2' %>
            </li>
            <li>
             <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-light ml-2' %>
            </li>
            <li>
             <%= link_to "お問い合わせ", new_contact_path, class: 'btn btn-outline-light ml-2' %>
            </li>
           </ul>
           </div>
        </div>
       </nav>
      </header>
     <% end %>

    <%= yield %>



  <footer class="bg-white shadow text-center text-lg-start">
     <div class="text-center p-3 bg-light">
       Copyright © まちかど広場 All rights reserved
     </div>
     </footer>

  </body>
</html>

